<h3>Detalles de: {{plato.nombre | uppercase}}</h3>
<div class="border border-info rounded">
    <img style="height:150px;width: 150px;" src={{plato.img}}/>
    <table>
        <tr>
            <td>Nombre: </td>
            <td>{{plato.nombre}}</td>
        </tr>
        <tr>
            <td>Precio: </td>
            <td>{{plato.price}} € </td>
        </tr>
        <tr>
            <td>Categoria:</td>
            <td>{{plato.category}}</td>
        </tr>
        <tr><td>{{mensaje | currency:"GBP":"£"}}</td></tr>
        <tr>
            <td><button class="btn btn-info" (click)="convertToPounds(plato.price)">Convertir a libras</button></td>
        </tr>
    </table>
</div>